<launch>

<!--
  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link5" args="0 0 0 0 0 0 /neuvition /camera_link 100"/>
-->
  <!-- Neuvition driver -->
  <include file="$(find neuvition_driver)/launch/neuvition_driver.launch"/>

  <!-- d455 driver -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" value="pointcloud" />
  </include>

</launch>
